@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: rubik;
	font-display: swap;
	src: url("../fonts/rubik-semi-bold.woff2") format("woff2"), url("../fonts/rubik-semi-bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
